
<div class='container-fluid dashboardContainer'>
    <div class='row'>
        <div class='col-md-10 col-md-offset-3'>
            <form name="careerForm" novalidate>
                <!-- NAME -->
                 <legend>Add Profession</legend>
                <div class="form-group row">
                    <label class="col-md-6 Label" >Name<sup>*</sup> : </label>
                    <textarea name="name" onkeypress='return isNumber(event)'  class="col-md-10 textArea"  ng-model="career.name" required></textarea>
                    <p ng-show="careerForm.name.$invalid && !careerForm.name.$pristine" class="help-block">Profession name is required.</p>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Description<sup>*</sup> : </label>
                    <textarea name="description" onkeypress="return isNumber(event)" type="number" class="col-md-10 textArea" ng-model="career.description" required></textarea>
                    <p ng-show="careerForm.description.$invalid && !careerForm.description.$pristine" class="help-block">Profession description is required.</p>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Stream : </label>
                    <textarea name="stream " type="number" class="col-md-10 textArea" ng-model="career.stream"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Type of Stream : </label>
                    <label><input type="radio" class="checkBox" name="typeOfStrem" ng-model="career.typeOfStream" value='technical'> Technical</label>
                    <label><input type="radio" class="checkBox" name="typeOfStrem" ng-model="career.typeOfStream" value='non-technical'> Non-technical</label>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Skills Needed (~ seperated) : </label>
                    <textarea name="skillsNeeded" class="col-md-10 textArea" ng-model="career.skillsNeeded"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Education Needed (~ seperated) : </label>
                    <textarea name="educationNeeded" class="col-md-10 textArea" ng-model="career.educationNeeded"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Knowledge Needed (~ seperated) : </label>
                    <textarea name="knowledgeNeeded" class="col-md-10 textArea" ng-model="career.knowledgeNeeded"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Language Needed (~ seperated) : </label>
                    <textarea name="languageNeeded" class="col-md-10 textArea" ng-model="career.languageNeeded"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Other Things Needed (~ seperated) : </label>
                    <textarea name="otherThingsNeeded" class="col-md-10 textArea" ng-model="career.otherThingsNeeded"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Potential Training Providers (~ seperated) : </label>
                    <textarea name="potentialTrainingProviders" class="col-md-10 textArea" ng-model="career.potentialTrainingProviders"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 Label">Min. Investment Needed : </label>
                    <textarea name="minInvestment" class="col-md-4 textArea" ng-model="career.minInvestment"></textarea>
                    <label class="col-md-4 Label">Max. Investment Needed : </label>
                    <textarea name="maxInvestment" class="col-md-4 textArea" ng-model="career.maxInvestment"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Other Investment Needed (~ seperated) : </label>
                    <textarea name="otherInvestment" class="col-md-10 textArea" ng-model="career.otherInvestment"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">How to invest (~ seperated) : </label>
                    <textarea name="investmentExplanation" class="col-md-10 textArea" ng-model="career.investmentExplanation"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Source Of Funds (~ seperated) : </label>
                    <textarea name="sourceOfFunds" class="col-md-10 textArea" ng-model="career.sourceOfFunds"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 Label" type="number" >Min. Income : </label>
                    <textarea name="minIncome" class="col-md-5 textArea" ng-model="career.minIncome"></textarea>
                    <label class="col-md-3 Label">Max. Income : </label>
                    <textarea name="maxIncome" class="col-md-5 textArea" ng-model="career.maxIncome"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">How to make income (~ seperated) : </label>
                    <textarea name="incomeExplanation" class="col-md-10 textArea" ng-model="career.incomeExplanation"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Type of work (~ seperated) : </label>
                    <textarea name="typeOfWork" class="col-md-10 textArea" ng-model="career.typeOfWork"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Working Hours : </label>
                    <label><input type="checkbox" class="checkBox" name="partTime" ng-model="career.partTime"> Part Time</label>
                    <label><input type="checkbox" class="checkBox" name="fullTime" ng-model="career.fullTime"> Full Time</label>
                    <label><input type="checkbox" class="checkBox" name="freeLancer" ng-model="career.freeLancer"> Free Lancer</label>
                    <label><input type="checkbox" class="checkBox" name="workFromHome" ng-model="career.workFromHome"> Work From Home</label>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Where to start (~ seperated) : </label>
                    <textarea name="whereToStart" class="col-md-10 textArea" ng-model="career.whereToStart"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Future Demand (~ seperated) : </label>
                    <textarea name="futureDemand" class="col-md-10 textArea" ng-model="career.futureDemand"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Functional Experts (~ seperated) : </label>
                    <textarea name="functionalExperts" class="col-md-10 textArea" ng-model="career.functionalExperts"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-5 Label">Min. Course Duration (in months) : </label>
                    <textarea name="minDuration" class="col-md-3 textArea" ng-model="career.minDuration"></textarea>
                    <label class="col-md-5 Label">Max. Course Duration (in months) : </label>
                    <textarea name="maxDuration" class="col-md-3 textArea" ng-model="career.maxDuration"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Hiring Companies (~ seperated) : </label>
                    <textarea name="hiringCompanies" class="col-md-10 textArea" ng-model="career.hiringCompanies"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Where to find jobs (~ seperated) : </label>
                    <textarea name="whereToFindJobs" class="col-md-10 textArea" ng-model="career.whereToFindJobs"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Risks Assoicated (~ seperated) : </label>
                    <textarea name="risksAssociated" class="col-md-10 textArea" ng-model="career.risksAssociated"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Expected Career Survival (~ seperated) : </label>
                    <textarea name="expectedCareerSurvival" class="col-md-10 textArea" ng-model="career.expectedCareerSurvival"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Next Steps To Grow (~ seperated) : </label>
                    <textarea name="nextStepsToGrow" class="col-md-10 textArea" ng-model="career.nextStepsToGrow"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Interested Areas (~ seperated) : </label>
                    <textarea name="interestAreas" class="col-md-10 textArea" ng-model="career.interestAreas"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Reviews By Experts (~ seperated) : </label>
                    <textarea name="reviewsByExperts" class="col-md-10 textArea" ng-model="career.reviewsByExperts"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Tips to Make Money (~ seperated) : </label>
                    <textarea name="tipsToMakeMoney" class="col-md-10 textArea" ng-model="career.tipsToMakeMoney"></textarea>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 Label">Search Keywords (~ seperated) : </label>
                    <textarea name="searchKeywords" class="col-md-10 textArea" ng-model="career.searchKeywords"></textarea>
                </div>
                <div class="form-group row">
                    <button type="submit" class="col-md-offset-7 btn btn-primary" ng-disabled="careerForm.$invalid" ng-click='addCareer()'>Submit</button>
                    <input type="reset" class="btn btn-secondary" style="margin-left:15px">
                </div>
            </form>
        </div>
    </div>
</div>
