<div class='container-fluid careerDetailsContainer'>
	<div class='detailsTitle'>
		Profession Details
	</div>
	<div class='row detailsRow'>
		<div class='col-lg-6 col-md-6 col-sm-16 col-xs-16'>
			<div class='detailsImg' ng-if="slides.length">
				<img class='instImg' ng-src="../../assets/images/careers/{{slides[0]}}" />
			</div>
			<div class='detailsImg' ng-if="!slides.length">
				<div style='height:450px;width:450px;padding-top:200px;font-size:2rem;text-align:center;border:1px solid grey;'>No Image Available.</div>
			</div>
		</div>
		<div class='col-lg-10 col-md-10 col-sm-16 col-xs-16 details'>
			<div class='row'>
				<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Name :</div>
				<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'> {{careerDetails.name}} </div>
			</div>
			<div class='row' ng-if='careerDetails.description'>
				<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Description :</div>
				<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12' ng-bind-html="careerDetails.description | to_trusted"></div>
			</div>
			<div class='row' ng-if="careerDetails.preRequisite && careerDetails.preRequisite.skillsNeeded.length">
				<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Skills Needed :</div>
				<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
					<div ng-repeat='skill in careerDetails.preRequisite.skillsNeeded track by $index'>
						{{$index+1}})
						<span ng-bind-html="skill | to_trusted"></span> 
					</div>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.preRequisite && careerDetails.preRequisite.educationNeeded.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Education Needed :</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='education in careerDetails.preRequisite.educationNeeded track by $index'>
					{{$index+1}}) 
					<span ng-bind-html="education | to_trusted"></span> 
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.preRequisite && careerDetails.preRequisite.knowledgeNeeded.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Knowledge Needed :</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='knowledge in careerDetails.preRequisite.knowledgeNeeded track by $index'>
					{{$index+1}})
					<span ng-bind-html="knowledge | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.preRequisite && careerDetails.preRequisite.languageNeeded.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Languages Needed :</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='language in careerDetails.preRequisite.languageNeeded track by $index'>
					{{$index+1}}) {{language}}
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.preRequisite && careerDetails.preRequisite.others.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Other Things Needed :</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='other in careerDetails.preRequisite.others track by $index'>
					{{$index+1}})
					<span ng-bind-html="other | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.potentialTrainingProviders.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Potential Training Providers:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='traningProvider in careerDetails.potentialTrainingProviders track by $index'>
					{{$index+1}})
					<span ng-bind-html="traningProvider | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.investmentNeeded && careerDetails.investmentNeeded.minInvestment && careerDetails.investmentNeeded.maxInvestment">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Investment Needed:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				Rs. {{careerDetails.investmentNeeded.minInvestment}} - Rs. {{careerDetails.investmentNeeded.maxInvestment}}
			</div>
		</div>
		<div class='row' ng-if="careerDetails.investmentNeeded && careerDetails.investmentNeeded.otherInvestment.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Other Investment:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='investment in careerDetails.investmentNeeded.otherInvestment track by $index'>
					{{$index+1}}) 
					<span ng-bind-html="investment | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.investmentNeeded && careerDetails.investmentNeeded.investmentExplanation.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>How to invest:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='investment in careerDetails.investmentNeeded.investmentExplanation track by $index'>
					{{$index+1}})
					<span ng-bind-html="investment | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.sourceOfFunds.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Source Of Funds:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='fund in careerDetails.sourceOfFunds track by $index'>
					{{$index+1}})
					<span ng-bind-html="fund| to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.income && careerDetails.income.minIncome && careerDetails.income.maxIncome">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Income:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				Rs. {{careerDetails.income.minIncome}} - Rs. {{careerDetails.income.maxIncome}}
			</div>
		</div>
		<div class='row' ng-if="careerDetails.income && careerDetails.income.incomeExplanation.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>How to make income:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='income in careerDetails.income.incomeExplanation track by $index'>
					{{$index+1}})
					<span ng-bind-html="income | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.typeOfWork.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Type of work:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='work in careerDetails.typeOfWork track by $index'>
					{{$index+1}}) 
					<span ng-bind-html="work | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.workingHours.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Working Hours:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<span ng-if='careerDetails.workingHours.partTime'>Part Time,</span>
				<span ng-if='careerDetails.workingHours.fullTime'>Full Time,</span>
				<span ng-if='careerDetails.workingHours.freeLancer'>Free Lancer,</span>
				<span ng-if='careerDetails.workingHours.workFromHome'>Work From Home,</span>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.whereToStart.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Where to start:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='step in careerDetails.whereToStart track by $index'>
					{{$index+1}}) 
					<span ng-bind-html="step | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.futureDemand.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Future Demand:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='demand in careerDetails.futureDemand track by $index'>
					{{$index+1}})
					<span ng-bind-html="demand | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.functionalExperts.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Functional Experts:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='expert in careerDetails.functionalExperts track by $index'>
					{{$index+1}}) 
					<span ng-bind-html=" expert | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.careerDuration && careerDetails.careerDuration.minDuration && careerDetails.careerDuration.maxDuration">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Course Duration:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				{{careerDetails.careerDuration.minDuration}} {{careerDetails.careerDuration.minDuration/12
				< 1 ? 'Months' : 'Years'}}
				- {{careerDetails.careerDuration.maxDuration}} {{careerDetails.careerDuration.maxDuration/12 < 1 ? 'Months' :
			'Years'}} </div>
		</div>
		<div class='row' ng-if="careerDetails.hiringCompanies.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Hiring Companies:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='company in careerDetails.hiringCompanies track by $index'>
					{{$index+1}})
					<span ng-bind-html="company | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.whereToFindJobs.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Where to find jobs:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='job in careerDetails.whereToFindJobs track by $index'>
					{{$index+1}})
					<span ng-bind-html="job | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.risksAssociated.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Risks Assoicated:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='risk in careerDetails.risksAssociated track by $index'>
					{{$index+1}})
					<span ng-bind-html="risk | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.expectedCareerSurvival.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Expected Career Survival:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='careerSurvival in careerDetails.expectedCareerSurvival track by $index'>
					{{$index+1}})
					<span ng-bind-html="careerSurvival | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.nextStepsToGrow.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Next Steps To Grow:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='step in careerDetails.nextStepsToGrow track by $index'>
					{{$index+1}}) 
					<span ng-bind-html="step | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.interestAreas.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Interested Areas:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='interest in careerDetails.interestAreas track by $index'>
					{{$index+1}})
					<span ng-bind-html="interest | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.reviewsByExperts.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Reviews By Experts:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='review in careerDetails.reviewsByExperts track by $index'>
					{{$index+1}}) 
					<span ng-bind-html="review | to_trusted"></span>
				</div>
			</div>
		</div>
		<div class='row' ng-if="careerDetails.tipsToMakeMoney.length">
			<div class='detailsLabel col-lg-4 col-md-4 col-sm-4 col-xs-4'>Tips to Make Money:</div>
			<div class='detailsValue col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<div ng-repeat='tip in careerDetails.tipsToMakeMoney track by $index'>
					{{$index+1}})
					<span ng-bind-html="tip | to_trusted"></span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>