<div class='container-fluid dashboardContainer'>
  <div class='row searchResultsDiv'>
    <div class='col-md-14 col-md-offset-1'>
        <table class='table table-hover'>
          <th>Index</th>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>

          <tr ng-repeat='career in careers'>
            <td>{{$index+1}}.</td>
            <td>{{career.name}}</td>
            <td>{{career.description}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-default" ui-sref="viewCareer({careerObj:career})" style="margin-top: 10px;margin-bottom: 10px;">View</button>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-default" ui-sref="editCareer({careerId:career._id})" style="margin-top: 10px;margin-bottom: 10px;">Edit</button>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-default" ng-click="deleteCareer({careerObj:career})" style="margin-top: 10px;margin-bottom: 10px;">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

