
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top navpanel headerNavbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-left navlogo" ui-sref="dashboard">Professions</a>

          </div>
          <a class="navbar-right navlogo" style='margin-right:15px;' ui-sref="addCareer">Add Profession</a>
        </div>
      </nav>

      <!-- <div class="container-fluid" style="height: 100%">
        <div class="row" style="height: 100%">
          <div class="col-lg-16 col-md-16 col-sm-16 col-xs-16" style="height: 100%"> -->
            <!-- your page content -->
                <div ui-view="content" style="height: 100%"></div>
          <!-- </div>
        </div>
      </div> -->

      <!-- <div class='footer'>
        &copy; AKESI 2017
      </div> -->

