body {
   padding-top: 70px;
   font-family: 'Catamaran', sans-serif;
   background-color: #f5f5f5;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fa {
    width: 30px!important;
    text-align: center;
}
.img-responsive {
    margin:0px auto;
}
.bb-box {
    background-color: #ffffff;
    padding:40px;
    box-shadow: 1px 1px 2px #aaa;
}
.navbar-default {
    background-color:#ffffff;
}
.bg-white {
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 1px #dddddd;
}
.intl-tel-input {
  display: inherit;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}

.navbar-fixed-side {
    background-color:#2C3E50;
    color:#ffffff;
    border-right: 0px;
    border-left:0px;
}

.navbar-fixed-side .navbar-nav > li > a  {
    color:#ffffff;
}



.navbar-fixed-side .navbar-nav > li > a {
    border-bottom: 1px solid #2c3e50;
}
.navbar-fixed-side .navbar-nav>li>a:hover, .navbar-fixed-side .navbar-nav>li>a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
    border-right:0px;
    background-color:#34495e;
    color:#ffffff;
}
.navbar-fixed-side .navbar-nav > .active > a, .navbar-fixed-side .navbar-nav > .active > a:hover, .navbar-fixed-side .navbar-nav > .active > a:focus {
    background-color: #f5f5f5;
    color:#333;
}
.ng-toast{
    margin-top:0px;
}

.navbar-fixed-inner {
    background-color: #f5f5f5;
    box-shadow: 2px 0px 2px 1px #CCC;
}

.navbar-fixed-inner .navbar-nav > li > a {
    border-bottom: 1px solid #f9f9f9;
    color: #333333;
}
.navbar-fixed-inner .navbar-nav>li>a:hover, .navbar-fixed-inner .navbar-nav>li>a:focus, .navbar-fixed-inner .navbar-nav .dropdown-menu>li>a:hover, .navbar-fixed-inner .navbar-nav .dropdown-menu>li>a:focus {
    border-right:0px;
    background-color:#ffffff;
    color:#333333;
}
.navbar-fixed-inner .navbar-nav > .active > a, .navbar-fixed-inner .navbar-nav > .active > a:hover, .navbar-fixed-inner .navbar-nav > .active > a:focus {
    background-color: #333333;
    color:#333333;
}
.mb-10 {
    margin-bottom: 10px;
}
.ellipsis {
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.country-tile {
    min-height: 85px;
}

/* custom availiblity */
.dhx_cal_event.dhx_cal_select_menu .dhx_body
{
    border-radius: 4px !important;
}
/*.dhx_title_header
{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding-top: 10px !important;
}
.dhx_title_footer
{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    padding-bottom: 10px !important;
}
.dhx_body
{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.dhx_cal_event .dhx_header
{
    height: 5px;
    border: 0;
    background: url(../img/resizing.png) center center no-repeat;
}
.dhx_cal_event .dhx_footer
{
    height: 5px;
    border: 0;
    margin-top: -6px;
    background: url(../img/resizing.png) center center no-repeat;
}*/

/* background color for whole container and it's border*/
.my_event {
    background-color:#1796b0;
    border-radius: 4px;
    overflow: hidden;
}
/* disabling default color for select menu */
.dhx_cal_select_menu.my_event div {
    border: 0;
    background-color: transparent;
    color: black;
}
/* styles for event content */
.dhx_cal_event.my_event .my_event_body {

    padding-top: 3px;
    padding-left: 5px;
    text-align: center;     }
/* event's date information */
.my_event .event_date {
    font-weight: bold;
    padding-right: 5px;
    color: white;
}
/* event's resizing section */
.my_event_resize {
    background: url(../img/resizing.png) center center no-repeat;
    height: 5px;
    position: absolute;
    bottom: 0px;
    border: 0;
}
/* event's move section */
.my_event_move {
    position: absolute;
    top: 0;
    height: 10px;
    cursor: pointer;
}
.btn-back{
    margin-top:15px;
}
.timezone-row
{
    margin-top: 15px;
    line-height: 2.8;
}
.textArea {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.checkBox {
    position: relative !important;
    opacity: 1 !important;
    left: 0px !important;
}
.Label {
    padding-top: 10px;
}