	/* Common Css starts */
		body {
			-webkit-user-drag: none;
			-moz-user-drag: none;
			-ms-user-drag: none;
			-o-user-drag: none;
			-khtml-user-drag: none;
		}
		.container-fluid { 
			margin: 0px;
			padding: 0px;
		}
		.mainContainer {
			margin-top: -20px;
			background-color: white;
		}
		input:focus {
			border-bottom: 1px solid rgb(241, 111, 48);
    		box-shadow: 0 1px 0 0 rgb(241, 111, 48);
		}
	/* Common Css Ends*/

	/* Header css Starts */
		.headerNavbar {
			background-color: #3b444e;
			margin: 0px;
		}
		.navlogo {
			color: white;
	    	font-size: 2rem;
	    	font-family: cursive;
	    	font-weight: 700;
	    	padding-left: 2rem;
	    	-webkit-user-select:none;
		    -moz-user-select:none;
		    -o-user-select:none;
		    -ms-user-select:none;
		    -khtml-user-select:none;
		    -webkit-user-drag:none;
		    -moz-user-drag:none;
		    -o-user-drag:none;
		    -ms-user-drag:none;
		    -khtml-user-drag:none;
		}
		.navlogo:hover, .navlogo:active, .navlogo:focus {
			text-decoration: none;
			color: orange;
		}
		.navbar-header {
			margin: 0px;
		}
	/* Header css Ends*/

	.footer {
		padding-top: 15px;
	    padding-bottom: 10px;
	    background-color: #3b444e;
	    color: white;
	    text-align: center;
	    font-style: italic;
	    margin-top: 20px;
	}

	/* SearchDiv Css Starts */
		.searchDiv {
			margin-bottom: 5px;
    		margin-top: 5px;
		}
		.greyText {
			font-size: 1.2rem;
		    text-transform: none;
		    font-weight: normal;
		    color: rgba(59,68,78,0.5);
		    margin: 0px;
		    padding: 0px;
		    /*padding-bottom: 15px;*/
		}
		.searchText {
			padding-top: 5px;
    		padding-left: 5px;
		}
		.searchInput {
			font-size: 1.2rem !important;
		}
		.highlight {
			color: red;
		}
		/* enable absolute positioning */
		.inner-addon { 
		    position: relative; 
		}

		/* style icon */
		.inner-addon .glyphicon {
		  position: absolute;
		  padding: 10px;
		  pointer-events: none;
		  font-size: 1.7rem;
		  opacity: 0.5;
		}

		/* align icon */
		.left-addon .glyphicon  { left:  0px;}
		.right-addon .glyphicon { right: 0px;}

		/* add padding  */
		.left-addon input  { 
			padding-left:  30px;
			width: 90%; 
			font-size: 1.2rem;
		}

		.button {
		    background-color: rgb(241, 111, 48);
		    border: 1px solid rgb(241, 111, 48);
		    color: white;
		    border-radius: 10px;
		    font-family: cursive;
		}
		.searchBtn {
			width: 120px;
		    height: 40px;
		    font-size: 1.5rem;
		    margin-top: 5px;
		    -webkit-user-select:none;
		    -moz-user-select:none;
		    -o-user-select:none;
		    -ms-user-select:none;
		    -khtml-user-select:none;
		    -webkit-user-drag:none;
		    -moz-user-drag:none;
		    -o-user-drag:none;
		    -ms-user-drag:none;
		    -khtml-user-drag:none;
		}
		.resetBtn {
			width: 60px;
			height: 30px;
			font-size: 1rem;
		}
		/* Angular Autocomplete css starts */
		.angucomplete-dropdown {
			max-height: 250px;
		    overflow-y: auto;
		    width: 103%;
		    margin-top: -19px;
		}
		.angucomplete-row {
			padding: 5px;
		    color: #000000;
		    margin-bottom: 4px;
		    clear: both;
		    font-size: 1.2rem;
		}
		.highlight {
			color: #2c00ff;
    		font-weight: bold;
		}
		.angucomplete-title {
			font-size: 1.2rem;
		}
		.angucomplete-selected-row {
			background-color: #f16f30;
    		color: #ffffff;
		}
		#locationSearch_value {
			border-bottom: 1px solid #f16f30;
    		box-shadow: 0 1px 0 0 #f16f30;
		}
		/* Angular Autocomplete css ends*/

	/* SearchDiv Css Ends*/

	/* Search Results div css Starts */

		/* sort by div css starts */

		.sortByFilterDiv {
			margin-top: 15px;
		    padding-left: 20px;
		    font-size: 1rem;
		    font-weight: 500;
		    border-bottom: 1px solid rgba(213, 210, 210, 0.4);
		    color: rgba(59, 68, 78, 0.6);
		}
		.sortByFilterDiv ul {
			display: inline-block;
		}
		.sortByFilterDiv ul li {
			list-style-type: none;
		    display: inline-block;
		    padding-left: 30px;
		    font-size: 1rem;
		    cursor: pointer;
		}
		/* sort by div css starts */

		.searchResultsDiv {
			background-color: white;
		}
		.filters {
			padding-left: 40px;
		    margin-top: 15px;
		    padding-right: 21px;
		    border-right: 1px solid rgb(213, 210, 210);
		    padding-top: 0px;
		}
	/* Search Results div css ends*/
		
	/* Custom Filters Css starts */
		.floatRight {
			float: right;
		}
		.floatLeft {
			float: left;
		}
		.filterHeaders {
			margin-bottom: 15px;
    		border-bottom: 1px solid rgb(213, 210, 210);
    		padding: 25px 0px 10px;
    		font-size: 1.2rem;
		}
		.filterUl {
			position: relative;
			margin: 0px;
			margin-bottom: -25px;
    		padding: 0px;
    		list-style-type: none;
		}
		.filterLi {
			display: block;
		    float: none;
		    width: 100%;
		    line-height: 29px;
		    height: 29px;
		    overflow: hidden;
		    padding: 0px;
		    margin: 0px;
		    list-style-type: none;
		}
		.filterCheckBox {
			box-sizing: border-box;
    		padding: 0px;
    		display: none;
		}
		.filterCheckLabel {
			width: 18px;
		    height: 18px !important;
		    float: left;
		    text-indent: -9999px;
		    position: relative !important;
		    top: 8px;
		    box-shadow: rgb(51, 51, 51) 0px 0px 1px 0px;
		    border-width: 1px;
		    border-style: solid;
		    border-color: rgb(141, 141, 148);
		    border-image: initial;
		    padding-left: 0px !important;
		    /*margin-right: 9px;*/
		    margin-top: -4px;
		    border-radius: 4px;
		    -webkit-user-select:none;
		    -moz-user-select:none;
		    -o-user-select:none;
		    -ms-user-select:none;
		    -khtml-user-select:none;
		    -webkit-user-drag:none;
		    -moz-user-drag:none;
		    -o-user-drag:none;
		    -ms-user-drag:none;
		    -khtml-user-drag:none;
		}
		.filterDescLabel {
			font-size: 1.1rem;
		    font-weight: normal;
		    float: left;
		    margin-left: 8px;
		    cursor: pointer;
		    max-width: 200px;
		    color: rgba(59, 68, 78, 0.6);
		    -webkit-user-select:none;
		    -moz-user-select:none;
		    -o-user-select:none;
		    -ms-user-select:none;
		    -khtml-user-select:none;
		    -webkit-user-drag:none;
		    -moz-user-drag:none;
		    -o-user-drag:none;
		    -ms-user-drag:none;
		    -khtml-user-drag:none;
		}
		.filterCheckBox:checked + label.filterCheckLabel {
			text-indent: 0px;
		    font-size: 0.65rem;
		    color: rgb(241, 111, 48);
		    box-shadow: none;
		    background: rgb(241, 111, 48);
		    border-width: 2px;
		    border-style: solid;
		    border-color: rgb(241, 111, 48);
		    border-image: initial;
		}
		[type="checkbox"] + .filterCheckLabel:before, [type="checkbox"]:not(.filled-in) + .filterCheckLabel:after {
			display: none;
			position: relative;
		}
		.fa-check {
			width: 0px !important;
		    color: white;
		    position: absolute;
		    font-size: 1rem;
		    left: 0px;
		    top: 0px;
		}
	/* Custom Filters Css Ends*/

	/* Search Results Div Css Starts */
		.resultLi {
			margin-top: 10px;
    		margin-bottom: 10px;
    		cursor: pointer;
		}
		.tileImg {
			width: 100%;
    		height: 200px;
		}
		.tileImg img {
			width: 100%;
    		height: 100%;
		}
		.tileTitle {
			font-size: 17px;
    		font-weight: bold;
    		color: #777777;
    		height: 50px;
		}
		.tileInfo {
			color: #777777;
    		display: block;
		    display: -webkit-box;
		    max-width: 270px;
		    height: 60px;
		    margin: 0 auto;
		    font-size: 14px;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    padding: 0px;
		}
		.resultMsg {
			font-size: 1.2rem;
		    padding-top: 10px;
		    padding-bottom: 10px;
		    text-align: center;
		    margin-top: 50px;
		    color: #949494;
		}
	/* Search Results Div Css Ends */

	/*careerDetails page css start*/
		#slides_control > div{
			height: 200px;
		}
		img{
			margin:auto;
			width: 400px;
		}
		#slides_control {
			position:absolute;
			width: 400px;
			left:50%;
			top:20px;
			margin-left:-200px;
		}
		.detailsTitle {
			font-size: 2rem;
		    font-family: cursive;
		    font-weight: 700;
		    text-align: center;
		    text-decoration: underline;
		    margin-bottom: 20px;
		}
		.detailsImg {
			width: 80%;
			margin-top: 10%;
			margin-left: 10%;
		}
		.instImg {
			height: 450px;
			width: 450px;
		}
		.detailsRow {
			margin-top: 10px;
			padding-top: 10px;
		}
		.details {
			font-size: 18px;
		}
		.detailsLabel {
			font-weight: 800;
			display: inline-block;
			padding-left: 15px;
			padding-right: 15px;
		}
		.detailsValue {
			display: inline-block;
			padding-right: 15px;
		}
	/*careerDetails age css ends*/


	/* admin panel css starts */

		.adminDashboardMsg {
			margin-top: 170px;
		}
		.adminMsg {
			font-size: 1.8rem !important;
			color: grey;
		}
		.editBtn, .deleteBtn {
			width: 80px;
			height: 30px;
			font-size: 1.3rem;
		}
	/* admin panel css ends*/